.git
.github
node_modules
dist
*.tsbuildinfo
.bun

logs
*.log
*.gz

.env
.env.*
!.env.example

coverage

.vscode
.idea
.fleet
.zed
*.swp
*.swo
*~

.DS_Store
._*
Thumbs.db
ehthumbs.db

Dockerfile
docker-compose.yml
.dockerignore
